<div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
</div>
<div class="col-xs-12">
    <h1>Recipe Name : {{recipe.name}}</h1>
</div>
<div class="col-xs-12">
    <div ngbDropdown  class="btn-group">
        <button ngbDropdownToggle id="dropdownBasic1" class="btn btn-primary dropdown-toggle">
            Manage Recipe <span class="caret"></span>
        </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
            <li ngbDropdownItem><a href="#">To Shopping List</a></li>
            <li ngbDropdownItem><a href="#">Edit Recipe List</a></li>
            <li ngbDropdownItem><a href="#">Delete Recipe</a></li>
        </ul>
    </div>
</div>
<div class="col-xs-12">
    <!-- {{recipe.decription}} -->
</div>
<div class="col-xs-12">
    Ingredient
</div>