<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Reactive Form</h4>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text" name="userName" formControlName="userName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" formControlName="email" class="form-control">
                </div>
                <div class="radio" *ngFor="let gender of genders">
                    <label for="gender">
                        <input type="radio" name="gender" [value]="gender" formControlName="gender"  > {{gender}}
                    </label> 
                </div>
                <button type="submit" class="btn btn-md btn-primary"> Submit</button>
            </form>
        </div>
    </div>
</div>